a{
	text-decoration: none;
}

#primary{
    min-height: 50vh;
}

main{
/* 	padding: 40px; */
/* 	border: 2px solid red; */
}

#page{
/* 	border: 2px solid blue; */
}

.page-banner{
	width: 100%;
	height: 200px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

article .entry-content
article .entry-title{
	padding: 0 5%
}

.merlyn-post-wrap{
	margin-bottom: 80px;
}

#primary>ul{
	padding-left: 0px;
}

#merlyn-content{
	padding: 40px;
}