.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt{
	background: black;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover{
	background: rgb(40, 40, 40);
}

.woocommerce button.button.alt{
    border-radius: 0px;
}

.woocommerce button.button.alt:hover{
	background: grey;
}

.woocommerce .quantity input{
	padding: 5px 5px;
	border-radius: 0px;
	border: 1px solid grey;
}

.price bdi{
	color: black;
}